$theme-colors: (
  ghun-text-primary: var(--ghun-text-primary),
  ghun-text-primary-100: var(--ghun-text-primary-100),
  ghun-text-primary-200: var(--ghun-text-primary-200),
  ghun-text-primary-300: var(--ghun-text-primary-300),
  ghun-text-primary-400: var(--ghun-text-primary-400),
  ghun-text-primary-500: var(--ghun-text-primary-500),
  ghun-text-primary-600: var(--ghun-text-primary-600),
  ghun-text-primary-700: var(--ghun-text-primary-700),
  ghun-text-primary-800: var(--ghun-text-primary-800),
  ghun-text-primary-900: var(--ghun-text-primary-900),
  ghun-text-secondary: var(--ghun-text-secondary),
  ghun-text-secondary-100: var(--ghun-text-secondary-100),
  ghun-text-secondary-200: var(--ghun-text-secondary-200),
  ghun-text-secondary-300: var(--ghun-text-secondary-300),
  ghun-text-secondary-400: var(--ghun-text-secondary-400),
  ghun-text-secondary-500: var(--ghun-text-secondary-500),
  ghun-text-secondary-600: var(--ghun-text-secondary-600),
  ghun-text-secondary-700: var(--ghun-text-secondary-700),
  ghun-text-secondary-800: var(--ghun-text-secondary-800),
  ghun-text-secondary-900: var(--ghun-text-secondary-900),
  ghun-bg-primary: var(--ghun-bg-primary),
  ghun-bg-primary-100: var(--ghun-bg-primary-100),
  ghun-bg-primary-200: var(--ghun-bg-primary-200),
  ghun-bg-primary-300: var(--ghun-bg-primary-300),
  ghun-bg-primary-400: var(--ghun-bg-primary-400),
  ghun-bg-primary-500: var(--ghun-bg-primary-500),
  ghun-bg-primary-600: var(--ghun-bg-primary-600),
  ghun-bg-primary-700: var(--ghun-bg-primary-700),
  ghun-bg-primary-800: var(--ghun-bg-primary-800),
  ghun-bg-primary-900: var(--ghun-bg-primary-900),
  ghun-bg-secondary: var(--ghun-bg-secondary),
  ghun-bg-secondary-100: var(--ghun-bg-secondary-100),
  ghun-bg-secondary-200: var(--ghun-bg-secondary-200),
  ghun-bg-secondary-300: var(--ghun-bg-secondary-300),
  ghun-bg-secondary-400: var(--ghun-bg-secondary-400),
  ghun-bg-secondary-500: var(--ghun-bg-secondary-500),
  ghun-bg-secondary-600: var(--ghun-bg-secondary-600),
  ghun-bg-secondary-700: var(--ghun-bg-secondary-700),
  ghun-bg-secondary-800: var(--ghun-bg-secondary-800),
  ghun-bg-secondary-900: var(--ghun-bg-secondary-900),
);
$default-colors: (
  primary-2: var(--ghun-primary-2),
  info: var(--ghun-info),
  warning: var(--ghun-warning),
  danger: var(--ghun-danger),
  secondary-2: var(--ghun-secondary-2),
  dark: var(--ghun-dark),
  light: var(--ghun-light),
  success: var(--ghun-success),
  muted: var(--ghun-muted),
  primary-shade-100: var(--ghun-primary-shade-100),
  primary-shade-200: var(--ghun-primary-shade-200),
  primary-shade-300: var(--ghun-primary-shade-300),
  primary-shade-400: var(--ghun-primary-shade-400),
  primary-shade-500: var(--ghun-primary-shade-500),
  primary-shade-600: var(--ghun-primary-shade-600),
  primary-shade-700: var(--ghun-primary-shade-700),
  primary-shade-800: var(--ghun-primary-shade-800),
  primary-shade-900: var(--ghun-primary-shade-900),
  info-shade-100: var(--ghun-info-shade-100),
  info-shade-200: var(--ghun-info-shade-200),
  info-shade-300: var(--ghun-info-shade-300),
  info-shade-400: var(--ghun-info-shade-400),
  info-shade-500: var(--ghun-info-shade-500),
  info-shade-600: var(--ghun-info-shade-600),
  info-shade-700: var(--ghun-info-shade-700),
  info-shade-800: var(--ghun-info-shade-800),
  info-shade-900: var(--ghun-info-shade-900),
  warning-shade-100: var(--ghun-warning-shade-100),
  warning-shade-200: var(--ghun-warning-shade-200),
  warning-shade-300: var(--ghun-warning-shade-300),
  warning-shade-400: var(--ghun-warning-shade-400),
  warning-shade-500: var(--ghun-warning-shade-500),
  warning-shade-600: var(--ghun-warning-shade-600),
  warning-shade-700: var(--ghun-warning-shade-700),
  warning-shade-800: var(--ghun-warning-shade-800),
  warning-shade-900: var(--ghun-warning-shade-900),
  danger-shade-100: var(--ghun-danger-shade-100),
  danger-shade-200: var(--ghun-danger-shade-200),
  danger-shade-300: var(--ghun-danger-shade-300),
  danger-shade-400: var(--ghun-danger-shade-400),
  danger-shade-500: var(--ghun-danger-shade-500),
  danger-shade-600: var(--ghun-danger-shade-600),
  danger-shade-700: var(--ghun-danger-shade-700),
  danger-shade-800: var(--ghun-danger-shade-800),
  danger-shade-900: var(--ghun-danger-shade-900),
  secondary-shade-100: var(--ghun-secondary-shade-100),
  secondary-shade-200: var(--ghun-secondary-shade-200),
  secondary-shade-300: var(--ghun-secondary-shade-300),
  secondary-shade-400: var(--ghun-secondary-shade-400),
  secondary-shade-500: var(--ghun-secondary-shade-500),
  secondary-shade-600: var(--ghun-secondary-shade-600),
  secondary-shade-700: var(--ghun-secondary-shade-700),
  secondary-shade-800: var(--ghun-secondary-shade-800),
  secondary-shade-900: var(--ghun-secondary-shade-900),
  dark-shade-100: var(--ghun-dark-shade-100),
  dark-shade-200: var(--ghun-dark-shade-200),
  dark-shade-300: var(--ghun-dark-shade-300),
  dark-shade-400: var(--ghun-dark-shade-400),
  dark-shade-500: var(--ghun-dark-shade-500),
  dark-shade-600: var(--ghun-dark-shade-600),
  dark-shade-700: var(--ghun-dark-shade-700),
  dark-shade-800: var(--ghun-dark-shade-800),
  dark-shade-900: var(--ghun-dark-shade-900),
  light-shade-100: var(--ghun-light-shade-100),
  light-shade-200: var(--ghun-light-shade-200),
  light-shade-300: var(--ghun-light-shade-300),
  light-shade-400: var(--ghun-light-shade-400),
  light-shade-500: var(--ghun-light-shade-500),
  light-shade-600: var(--ghun-light-shade-600),
  light-shade-700: var(--ghun-light-shade-700),
  light-shade-800: var(--ghun-light-shade-800),
  light-shade-900: var(--ghun-light-shade-900),
  success-shade-100: var(--ghun-success-shade-100),
  success-shade-200: var(--ghun-success-shade-200),
  success-shade-300: var(--ghun-success-shade-300),
  success-shade-400: var(--ghun-success-shade-400),
  success-shade-500: var(--ghun-success-shade-500),
  success-shade-600: var(--ghun-success-shade-600),
  success-shade-700: var(--ghun-success-shade-700),
  success-shade-800: var(--ghun-success-shade-800),
  success-shade-900: var(--ghun-success-shade-900),
  muted-shade-100: var(--ghun-muted-shade-100),
  muted-shade-200: var(--ghun-muted-shade-200),
  muted-shade-300: var(--ghun-muted-shade-300),
  muted-shade-400: var(--ghun-muted-shade-400),
  muted-shade-500: var(--ghun-muted-shade-500),
  muted-shade-600: var(--ghun-muted-shade-600),
  muted-shade-700: var(--ghun-muted-shade-700),
  muted-shade-800: var(--ghun-muted-shade-800),
  muted-shade-900: var(--ghun-muted-shade-900),
);
